p {
    color: #fa920a;
  
    width: 450px;
  
    border: 1px solid red;  
  }
 
  .mi-clase {

    background-color: yellow;
  
  }

  #mi-id {

    font-size: 24px;
  
  }
  
  * {

    margin: 10;
  
    padding: 10;
  
  } 

  button {

    background-color: grey; /* Color inicial del botón */
  
    color: white;
  
    padding: 10px 20px;
  
    border: none;
  
    cursor: pointer;
  
  }
  
  button:hover {
  
    background-color: blue; /* Color del botón cuando el ratón pasa por encima */
  
  }